.button-sort {
    background: transparent;
    font-size: 30px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-edit {
    background: transparent;
    font-size: 20px;
    border: 0;
}